---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="fs-4 fw-bold">
    <i class="bi bi-megaphone-fill"></i> Team Updates
  </div>

  {%- for post in site.posts -%}
  <div class="w-100 border-bottom pt-2 pb-2">
    <div class="d-flex justify-content-between">
        <a class="fs-5 text-decoration-none" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      <div>
        <span class="text-muted">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- endfor -%}
  {%- endif -%}
</div>